name: Build and deploy ASP.NET Core MVC app

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore
      run: dotnet restore ProdutosAzure/ProdutosAzure.sln

    - name: Build
      run: dotnet build ProdutosAzure/ProdutosAzure.sln --configuration Release --no-restore

    - name: Publish
      run: dotnet publish ProdutosAzure/ProdutosAzure.Web/ProdutosAzure.Web.csproj -c Release -o ./publish

    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v3
      with:
        app-name: produtos-azure
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ./publish


      
      
